/* universal */
.root {
    -fx-font-family:        Arial;
    -fx-font-weight:        bold;

	-main-screen:           blue;
	-main-screen-text:      blue;
	-players-list:          blue;
	-players-list-text:     blue;
	-game-foreground:       blue;
	-game-foreground-text:  blue;
	-game-background:       blue;
	-game-background-text:  blue;
	-chat-area:             blue;
	-chat-area-text:        blue;
}

.choice-box {
    -fx-mark-color: transparent;
    -fx-focused-mark-color: transparent;
}

.choice-box:mobile .context-menu {
    -fx-scale-x: 1.45;
    -fx-scale-y: 1.45;
}

.arrow, .arrow-button {
    -fx-background-color: black;
}

.scroll-pane, .scroll-pane .content, .scroll-pane .viewport {
    -fx-background-color: transparent;
}
.label {
    -fx-label-padding: 3;
}
.choice-box, .choice-box .context-menu {
    -fx-pref-width: 112px;
}

.button {
    -fx-padding: 3;
    -fx-content-display: right;
    -fx-graphic-text-gap: 15;
}
.text-field {
    -fx-font-weight: normal;
    -fx-background-color: #E5E5E5;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-prompt-text-fill: #333333;
}
.text-area {
    -fx-font-weight: normal;
    -fx-background-color: -chat-area;
    -fx-text-fill: -chat-area-text;
}
.tooltip {
    -fx-padding: 2;
    -fx-background-radius: 1;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: normal;
    -fx-show-delay: 500ms;
}

/* main window */
#games-panel {
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 8;
    -fx-background-color: -main-screen;
}
#games-panel > *  {
    -fx-background-color: -game-foreground;
    -fx-border-color: -game-background;
    -fx-border-width: 3;
    -fx-padding: 5;
    -fx-hgap: 3;
    -fx-vgap: 3;
}
#games-panel .button {
    -fx-pref-width: 83;
    -fx-pref-height: 25;
}
#games-panel .label {
    -fx-text-fill: -game-foreground-text;
}
#side-panel {
    -fx-background-color: -players-list;
}
#side-panel .button {
    -fx-font-size: 13;
        -fx-graphic-text-gap: 10;
    -fx-padding: 0;
}
#side-panel .label {
    -fx-text-fill: -players-list-text;
    -fx-font-size: 18;
}
#side-panel .scroll-pane .label {
    -fx-font-weight: normal;
    -fx-font-size: 16;
}
#side-panel .scroll-pane .label:hover {
    -fx-font-weight: bold;
}

/* game window */
#game-background {
    -fx-background-color: -game-background;
}
#game-background .text-field {
    -fx-padding: 8;
}
#game-background .label {
    -fx-font-size: 14px; //needs testing
    -fx-text-fill: -game-background-text;
    -fx-padding: 4;
}

#control-panel {
    -fx-alignment: center;
    -fx-padding: 3;
}
#control-panel .button {
    -fx-pref-height: 25;
    -fx-font-size: 13;
    -fx-min-width: 30;
}
#control-panel:mobile .button {
    -fx-font-size: 15;
}

#tile-panel, #game-panel {
    -fx-background-color: -game-foreground;
}
#game-panel .label {
    -fx-font-size: 22px;
    -fx-text-fill: -game-foreground-text;
}
#game-panel:mobile .label {
    -fx-font-size: 19px;
}
#game-panel:abandoned .label {
    -fx-text-fill: darkgray;
}

#word-display {
    -fx-background-color: -game-background;
}

/* popup */
#popup {
    -fx-background-color: #DDDDDD;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-insets: -1;
    -fx-padding: 4px;
}

#popup #title-bar {
    -fx-background-color: #EFEFEF;
    -fx-spacing: 15px;
    -fx-padding: 2;
}

#title-bar .button {
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-padding: 2;
}

/* dialog */
#dialog:mobile {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

#dialog .button {
    -fx-pref-width: 70;
}

/* settings menu */
#color-pane {
    -fx-pref-width: 80;
    -fx-pref-height: 40;
    -fx-hgap: 9;
    -fx-vgap: 0;
    -fx-hpos: center;
}
#color-pane .text-field {
    -fx-padding: 0;
    -fx-alignment: center;
}
#color-pane .label {
    -fx-alignment: center;
    -fx-label-padding: 0;
    -fx-max-width: Infinity;
}

#color-combo-box {
    -fx-pref-height: 18;
    -fx-pref-width: 70;
    -fx-padding: 1, 1, 5, 1; //needs testing
}
#color-combo-box .arrow, .arrow-button {
    -fx-background-color: transparent;
}
#color-combo-box .arrow-button {
    -fx-padding: 1;
}
#color-combo-box .list-view {
    -fx-fixed-cell-size: 6;
}
#color-combo-box .list-view .list-cell:hover {
    -fx-border-color: black;
}
#color-combo-box:mobile .list-view {
    -fx-scale-x: 1.45;
    -fx-scale-y: 1.45;
}
