.root {
    -fx-font-weight: bold;
    -fx-font-family: Arial;
}

.scroll-pane,
.scroll-pane .content,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.label {
    -fx-label-padding: 3;
}

.button {
    -fx-text-fill: black;
    -fx-padding: 3;
    -fx-content-display: right;
    -fx-graphic-text-gap: 15;
}

.dialog .button {
    -fx-pref-width: 70;
}

/* text */
.text-field {
    -fx-font-weight: normal;
    -fx-background-color: #E5E5E5;
    -fx-prompt-text-fill: #333333;
}

.text-area {
    -fx-font-weight: normal;
}

/* tooltip */
.tooltip {
    -fx-padding: 2;
    -fx-background-radius: 1;
    -fx-background-color: #EFEFEF;
    -fx-text-fill: black;
    -fx-font-weight: normal;
    -fx-show-delay: 500ms;
}
