#settings-menu {
    -fx-max-width: 305;
    -fx-max-height: 350;
}

.text-field {
    -fx-padding: 1, 0, 1, 0;
    -fx-alignment: center;
}

#settings-menu:mobile {
    -fx-scale-x: 1.45;
    -fx-scale-y: 1.45;
}

#settings-grid {
    -fx-padding: 3;
    -fx-vgap: 9;
}

.color-chooser {
	-fx-hgap: 6;
}

.color-pane {
    -fx-pref-width: 110;
    -fx-hgap: 9;
}

/*

.color-pane .text-field {
    -fx-padding: 0;
    -fx-alignment: center;
}*/


.color-combo-box {
    -fx-pref-height: 18;
    -fx-pref-width: 70;
    -fx-padding: 0;
}

.color-combo-box .arrow,
.color-combo-box .arrow-button {
    -fx-background-color: transparent;
}

.color-combo-box .arrow-button {
    -fx-padding: 1;
}

.color-combo-box .list-view {
    -fx-fixed-cell-size: 6;
}

.color-combo-box .list-view .list-cell:hover {
    -fx-border-color: black;
}

.color-combo-box:mobile .list-view {
    -fx-scale-x: 1.45;
    -fx-scale-y: 1.45;
}
